#notification{
    position: fixed;
    top: 20px;
    left: 30px;
    background-color: white;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background-color: transparent;

    .notificationItem {
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 10px;
        font-size: 15px;
    }

    .danger{
        background-color: #ffe2e5;
        color: #f65465; 
    }
    .success {
        background-color: #c9f7f5;
        color: #22c7bf;
    }
    .warning {
        background-color: #fff4de;
        color: #ffb018;
    }
}