.text-input {
    color: #3F4254;

    input {
        border: 1px solid #E4E6EF;
        border-radius: 5px;
        padding: 10px;
        width: 100%;

        &:focus {
            border-color: #0088cc;
        }

        &:disabled {
            background-color: #F3F6F9;
        }
    }
}